.shopping-cart-form-container {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F6F6;
  border-radius: 20px;
  padding: 30px 0 80px;
}
.shopping-cart-form-container h1 {
  text-align: center;
  font-size: 24px;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.shopping-cart-form-container .shopping-cart-form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shopping-cart-form-container .shopping-cart-form input {
  width: 90%;
  height: 35px;
  background-color: #F7F6F6;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #CACDD8;
  outline: 0;
}
.shopping-cart-form-container .shopping-cart-form .submit-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.shopping-cart-form-container .shopping-cart-form .submit-section p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
.shopping-cart-form-container .shopping-cart-form .submit-section button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  border-radius: 20px;
  background: #F7F6F6;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 8px 50px;
  cursor: pointer;
}

.shopping-cart-form input:focus {
  outline: none !important;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: #000000;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: #000000;
  opacity: 1;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
}

*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
}

*::placeholder {
  /* modern browser */
  color: #000000;
}

@media (max-width: 834px) {
  .shopping-cart-form-container {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .shopping-cart-form-container {
    width: 100%;
  }
}