.shopping-cart-form-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F6F6;
  border-radius: 20px;
  padding: 30px 0 80px;
}

.shopping-cart-form-container h1 {
  text-align: center;
  font-size: 24px;
  padding: 0 20px;
}

.shopping-cart-form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.shopping-cart-form input {
  width: 90%;
  height: 35px;
  background-color: #F7F6F6;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #CACDD8;
  outline: 0;
}

.shopping-cart-form input:focus {
  outline: none!important;
}

.submit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.submit-section button {
  appearance: none;
  border: 1px solid #000000;
  border-radius: 20px;
  background: #F7F6F6;
  color: #000000;
  padding: 8px 50px;
  font-size: 16px;
  cursor: pointer;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: #000000;
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: #000000;
  opacity: 1;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: #000000;
  opacity: 1;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: #000000;
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
}
*::placeholder {
  /* modern browser */
  color: #000000;
}

@media (max-width: 834px) {
  .shopping-cart-form-container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .shopping-cart-form-container {
    width: 100%;
  }
}