.shopping-cart-main-container {
  width: 65%;
}
.shopping-cart-main-container .shopping-cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shopping-cart-main-container .shopping-cart-header p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.shopping-cart-main-container .shopping-cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #CACDD8;
  padding: 20px 0;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-item .shoping-cart-product-cover {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 120px;
  margin-right: 30px;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-item .shoping-cart-product-cover img {
  max-width: 100%;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-item .product-details {
  font-family: "Montserrat", sans-serif;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-item .product-details .shopping-cart-item-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-item .product-details .shopping-cart-item-description {
  width: 200px;
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  margin: 5px 0;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-item .product-details .shopping-cart-item-price {
  font-weight: 500;
  font-size: 16px;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-item .product-details .shpoing-cart-item-buttons a {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
  margin-right: 30px;
  font-weight: 400;
  font-size: 14px;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 40px;
  background-color: #F7F6F6;
  border-radius: 5px;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-counter .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-counter .shopping-cart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shopping-cart-main-container .shopping-cart-container .shopping-cart-counter .shopping-cart-buttons .btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: #F7F6F6;
  color: #ffffff;
  cursor: pointer;
}
.shopping-cart-main-container .shopping-cart-footer {
  margin-bottom: 65px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.shopping-cart-main-container .shopping-cart-footer .white-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-top: 30px;
  padding: 8px 30px;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
}
.shopping-cart-main-container .shopping-cart-footer .black-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-top: 30px;
  padding: 8px 30px;
  background: #000000;
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 834px) {
  .shopping-cart-main-container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .shopping-cart-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shopping-cart-main-container .shopping-cart-container .shopping-cart-item .product-details .shopping-cart-item-title {
    font-size: 18px;
  }
  .shopping-cart-main-container .shopping-cart-footer .white-btn,
  .shopping-cart-main-container .shopping-cart-footer .black-btn {
    width: 170px;
    font-size: 11px;
  }
}
@media (max-width: 400px) {
  .shopping-cart-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shoping-cart-product-cover {
    display: none;
  }
  .shopping-cart-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .shopping-cart-main-container .shopping-cart-footer .white-btn,
  .shopping-cart-main-container .shopping-cart-footer .black-btn {
    width: 150px;
    font-size: 8px;
  }
}