.product-list-item {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.product-cover {
  position: relative;
}

.product-icons {
  display: none;
  position: absolute;
  top: 5px;
  right: 0px;
  margin-right: 5px;
}

.add-to-cart-icon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.product-list-item .product-cover {
  flex-shrink: 0;
  margin: 15px 15px 5px;
}

.product-cover:hover {
  .product-icons {
    display: flex;
  }
}

.product-list-item .product-cover img {
  max-width: 100%;
}

.product-list-item .product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  padding-bottom: 10px;
  align-items: flex-start;
}

.product-list-item .product-details .product-title {
  font-size: 1.2rem;
}

.product-list-item .product-details .product-price {
  font-size: 1.4rem;
}

.product-description {
  font-weight: 400;
    font-size: 14px;
    color: #888888;
    margin: 5px 0;
}