.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.sorting-selection-container {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sorting-selection-container select {
  border-radius: 20px;
  background-image: url("../../assets/images/caret-down.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) center;
  padding: 10px 45px 10px 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

@media (max-width: 834px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }
}